.container-1{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .button-container-1{
    margin-bottom: 20px;
  }
  
  .button-1{
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .button-1:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .next-btn, .try-again-btn {
    margin-top: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  .try-again-btn{
    margin-top: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  
  .question, .text, .pronunciation, .correctness {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .question {
    font-weight: bold;
  }
  
  .correctness {
    color: #000000;
    font-weight: bold;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  


  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-container-1 {
    margin-bottom: 20px;
  }
  
  .question-image {
    max-width: 300px;
    height: auto;
  }
  

  .pronunciation{
    color: black;
  }